<a href="https://colab.research.google.com/github/manliofrp/Actividad_2/blob/main/Actividad2_1_ValoresNulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.options.display.max_rows = None

In [ ]:
from google.colab import files
files.upload()

In [ ]:
data = pd.read_csv('Ventas_totales.csv')
data.head(5)

In [9]:
# Se sustituyen los nulos por el promedio de las ventas en el sal√≥n
data["salon_ventas"]=data["salon_ventas"].fillna(round(data["salon_ventas"].mean(),1))

In [11]:
# Se sustituye el valor nulo por el numero promedio de tarjetas de debito
data["tarjetas_debito"]=data["tarjetas_debito"].fillna(round(data["tarjetas_debito"].mean(),1))

In [13]:
# Se sustituyen los valores nulos por la mediana dle numero de tarjetas de credito
data["tarjetas_credito"]=data["tarjetas_credito"].fillna(round(data["tarjetas_credito"].median(),1))

In [15]:
# Se sustituyen los valores nulos por la mediana del numero de los otros medios posibles
data["otros_medios"]=data["otros_medios"].fillna(round(data["otros_medios"].median(),1))

In [17]:
# Se sustituyen los valores nulos por la media del subtotal de ventas
data["subtotal_ventas_alimentos_bebidas"]=data["subtotal_ventas_alimentos_bebidas"].fillna(round(data["subtotal_ventas_alimentos_bebidas"].mean(),1))

In [19]:
# Se sustituyen los valores nulos por la media del numero de bebidas
data["bebidas"]=data["bebidas"].fillna(round(data["bebidas"].mean(),1))

In [21]:
# Se sustituyen los valores nulos por la mediana del numeros en almacen
data["almacen"]=data["almacen"].fillna(round(data["almacen"].median(),1))

In [22]:
# Se sustituyen los valores nulos por la mediana de numeros en la venta de panaderia
data["panaderia"]=data["panaderia"].fillna(round(data["panaderia"].median(),1))

In [24]:
# Se sustituyen los valores nulos por la media de las ventas en lacteos
data["lacteos"]=data["lacteos"].fillna(round(data["lacteos"].mean(),1))

In [25]:
# Se sustituyen los valores nulos por la media de las ventas en carnes
data["carnes"]=data["carnes"].fillna(round(data["carnes"].mean(),1))

In [29]:
# Se sustituyen los valores nulos por el valor posterior en esa lista
data["alimentos_preparados_rotiseria"] = data["alimentos_preparados_rotiseria"].fillna(method="ffill")

In [ ]:
# Se sustituyen los valores nulos por el valor anterior en esa lista
data["verduleria_fruteria"] = data["verduleria_fruteria"].fillna(method="bfill")

In [31]:
# Se sustituyen los valores nulos por la media en las ventas de indumentaria
data["indumentaria_calzado_textiles_hogar"]=data["indumentaria_calzado_textiles_hogar"].fillna(round(data["indumentaria_calzado_textiles_hogar"].mean(),1))

In [33]:
# Se sustituyen los valores nulos por le mediana en la lista de electtonicos
data["electronicos_articulos_hogar"]=data["electronicos_articulos_hogar"].fillna(round(data["electronicos_articulos_hogar"].median(),1))

In [32]:
# Se sustituyen los valores nulos por la media en ventas de los otros productos
data["otros"]=data["otros"].fillna(round(data["otros"].mean(),1))

In [ ]:
valores_nulos = data.isnull().sum()
valores_nulos

In [36]:
data.to_csv("ventas_sin_nulos.csv")